:root {
  --color-blue: hsl(246, 80%, 60%);
  --color-very-light-red: hsl(15, 100%, 70%); /* work */
  --color-soft-blue: hsl(195, 74%, 62%); /* play */
  --color-light-red: hsl(348, 100%, 68%); /* study */
  --color-lime-green: hsl(145, 58%, 55%); /* exercise */
  --color-violet: hsl(264, 64%, 52%); /* social */
  --color-soft-orange: hsl(43, 84%, 65%); /* self care */
  --color-very-dark-blue: hsl(226, 43%, 10%);
  --color-dark-blue: hsl(235, 46%, 20%);
  --color-desaturated-blue: hsl(235, 45%, 61%);
  --color-pale-blue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Rubik", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
  width: 100%;
  background-color: var(--color-very-dark-blue);
  margin: 0;
  padding: 0;
}

.profile-container {
  height: 480px;
  width: 225px;
  margin: 25px 10px;
  padding: 0;
  border-radius: 15px;
  background-color: var(--color-dark-blue);
}

.profile {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 15px;
  background-color: var(--color-blue);
  margin: 0;
  padding: 0 25px;
}

.profile-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 25px 0 75px 0;
  padding: 0;
}

.profile-text {
  height: 70%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-text-one {
  color: var(--color-pale-blue);
  margin: 0 0 5px 0;
  padding: 0;
}

.profile-text-two {
  color: white;
  font-size: 36px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.schedule {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0 25px;
}

.schedule-links {
  font-weight: 500;
  margin: 8px 0;
  padding: 0;
  text-decoration: none;
}

#daily-schedule {
  color: var(--color-pale-blue);
}

#weekly-schedule {
  color: #fff;
}

#monthly-schedule {
  color: var(--color-pale-blue);
}

#daily-schedule:hover,
#weekly-schedule:hover,
#monthly-schedule:hover {
  color: #fff;
}

.schedule-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 500px;
  width: 800px;
  margin: 10px;
  padding: 0;
}

.work {
  background-color: var(--color-very-light-red);
}

.play {
  background-color: var(--color-soft-blue);
}

.study {
  background-color: var(--color-light-red);
}

.exercise {
  background-color: var(--color-lime-green);
}

.social {
  background-color: var(--color-violet);
}

.self-care {
  background-color: var(--color-soft-orange);
}

.work,
.play,
.study,
.exercise,
.social,
.self-care {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 225px;
  width: 225px;
  border-radius: 15px;
  margin: 15px;
  padding: 0;
  overflow: clip;
}

.work-top,
.play-top,
.study-top,
.exercise-top,
.social-top,
.self-care-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.work-image,
.play-image,
.study-image,
.exercise-image,
.social-image,
.self-care-image {
  transform: scale(0.75);
  filter: contrast(100%);
  opacity: 0.6;
  z-index: 1;
}

.work-bot,
.play-bot,
.study-bot,
.exercise-bot,
.social-bot,
.self-care-bot {
  height: 80%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--color-dark-blue);
  margin: 0;
  padding: 0;
  z-index: 2;
}

.work-bot:hover,
.play-bot:hover,
.study-bot:hover,
.exercise-bot:hover,
.social-bot:hover,
.self-care-bot:hover {
  cursor: pointer;
  background-color: rgba(28, 31, 74, 0.95);
}

.work-bot-a,
.play-bot-a,
.study-bot-a,
.exercise-bot-a,
.social-bot-a,
.self-care-bot-a {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0 25px;
}

.work-text,
.play-text,
.study-text,
.exercise-text,
.social-text,
.self-care-text {
  color: white;
}

.icon {
  color: white;
}

.icon:hover {
  cursor: pointer;
  color: var(--color-pale-blue);
}

.work-bot-b,
.play-bot-b,
.study-bot-b,
.exercise-bot-b,
.social-bot-b,
.self-care-bot-b {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  padding: 0 25px;
}

.work-current,
.play-current,
.study-current,
.exercise-current,
.social-current,
.self-care-current {
  color: white;
  font-size: 45px;
  font-weight: lighter;
  margin: 0;
  padding: 0 0 10px 0;
}

.work-previous,
.play-previous,
.study-previous,
.exercise-previous,
.social-previous,
.self-care-previous {
  color: var(--color-pale-blue);
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0 0 20px 0;
}

.attribution-container {
  height: 3vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

@media screen and (max-width: 1050px) {
  .schedule-container {
    width: 535px;
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    justify-content: center;
    align-items: flex-start;
    /* padding: 0 50px; */
  }

  .schedule-container {
    justify-content: center;
    width: 535px;
  }
}

@media screen and (max-width: 775px) {
  .schedule-container {
    justify-content: center;
    width: 255px;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-container {
    width: 80%;
    height: 240px;
  }

  .profile {
    width: 100%;
    height: 67%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .profile-image {
    margin-top: 75px;
  }

  .profile-text {
    height: 30%;
    width: 70%;
    margin: 0;
    padding: 0;
  }

  .profile-text-two {
    font-size: 30px;
  }

  .schedule {
    width: 100%;
    height: 33%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .schedule-links {
    font-size: 20px;
  }

  .schedule-container {
    width: 100%;
  }

  .work,
  .play,
  .study,
  .exercise,
  .social,
  .self-care {
    height: 175px;
    width: 80%;
  }

  .work-top,
  .play-top,
  .study-top,
  .exercise-top,
  .social-top,
  .self-care-top {
    height: 30%;
  }

  .work-bot,
  .play-bot,
  .study-bot,
  .exercise-bot,
  .social-bot,
  .self-care-bot {
    height: 70%;
  }

  .work-bot-a,
  .play-bot-a,
  .study-bot-a,
  .exercise-bot-a,
  .social-bot-a,
  .self-care-bot-a {
    height: 25%;
    align-items: flex-end;
    padding: 20px 25px 0 25px;
  }

  .work-bot-b,
  .play-bot-b,
  .study-bot-b,
  .exercise-bot-b,
  .social-bot-b,
  .self-care-bot-b {
    height: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 25px;
  }
}
